html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  color: #404142;
  font-size: 16px;
  letter-spacing: 0.8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
.header-left h4 {
  letter-spacing: 1px;
  font-family: inherit;
}
.header-left a {
  text-decoration: none;
}
.header-right-rocket {
  margin-left: 10rem;
}
/* side bar dots Start */
ul.test {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 999;
}
ul.test a {
  /* background-color: red; */
  padding: 10px;
  /* margin: 10px; */
  color: black;
  text-decoration: none;
}

ul.test li {
  margin: 10px;

  list-style: none;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition-duration: 0.5s;
}

ul.test li:first-child:hover ::before {
  position: absolute;
  left: -10px;

  content: "Home";
  background-color: rgb(255, 79, 79);
  color: #efefef;
  width: 50px;
  padding: 1px 3px;
  border-radius: 10px;
  z-index: 9999;
  font-weight: 500;
}
ul.test li:nth-child(2):hover ::before {
  position: absolute;
  left: -30px;

  content: "Speakers";
  background-color: rgb(255, 79, 79);
  color: #efefef;
  width: 70px;
  padding: 1px 3px;
  border-radius: 10px;
  z-index: 9999;
  font-weight: 500;
}
ul.test li:nth-child(3):hover ::before {
  position: absolute;
  left: -15px;

  content: "Tickets";
  background-color: rgb(255, 79, 79);
  color: #efefef;
  width: 55px;
  padding: 1px 3px;
  border-radius: 10px;
  z-index: 9999;
  font-weight: 500;
}
ul.test li:nth-child(4):hover ::before {
  position: absolute;
  left: -30px;

  content: "Schedule";
  background-color: rgb(255, 79, 79);
  color: #efefef;
  width: 70px;
  padding: 1px 3px;
  border-radius: 10px;
  z-index: 9999;
  font-weight: 500;
}
ul.test li:hover {
  height: 15px;
  width: 15px;
  transition-duration: 0.5s;
}
/* side bar dots End */
.section1-top h2 {
  color: inherit;
  font-family: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.section1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
  font-family: inherit;
}
.section1-bottom i {
  font-size: 5em;
  color: #016cc7;
}
.section1-bottom-col {
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23%;
}

.section1-bottom-col p {
  margin-bottom: 10px;
  text-align: center;
  /* max-width: 70%; */
}
.section2-bottom img {
  max-width: 40%;
  border-radius: 50%;
  border: 4px solid #efefef;
}
.section2-bottom {
  margin-top: 30px;
}
.section2-bottom-card p {
  text-align: center;
}
.section2-bottom h5 {
  font-size: 24px;
}
.section2-bottom i {
  font-size: 30px;
}
.section2-bottom a {
  text-decoration: none;
}
.section3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.price {
  font-size: 4em;
  color: #dd5138;
  font-weight: 100;
}
.section3-bottom p {
  margin-bottom: 10px;
}
.section3-bottom {
  gap: 20rem;
}
.section3-bottom button {
  border-radius: 4px;
  padding: 15px 40px;
  letter-spacing: 1px;
}
.section2-bottom-card {
  width: 25%;
}
.section4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section4-top h2 {
  font-size: 30px;
}
.h51 {
  font-size: 18px;
  border-bottom: 2px solid #efefef;
  padding-bottom: 10px;
}
.h52 {
  font-size: 14px;
}
.event-p {
  margin-bottom: 10px;
}
.section5 {
  background-color: #3a3a3a;
  gap: 150px;
}
.section5-left {
  width: 35%;
}
/* .section5-left {
  margin-left: 90px;
} */
.section5-right {
  width: 33.33333333%;
}
.section5-right p {
  margin-bottom: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 0; */
  border-top: 1px solid #eee;
  height: 0;
}
/* Media queries */
@media (max-width: 992px) {
  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-left h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section1-bottom-col {
    max-width: 80%;
    padding: 20px;
    margin-top: 30px;
  }
  .section3-bottom {
    gap: 2rem;
  }
  .section2-bottom-card1 {
    width: 80%;
  }
  .section2-bottom-card2 {
    width: 80%;
  }
  .section2-bottom-card3 {
    width: 80%;
  }
  .section2-bottom-card4 {
    width: 80%;
  }
  .section2-bottom-card5 {
    width: 80%;
  }
  .section2-bottom-card6 {
    width: 80%;
  }
}
